*.xml
/.idea
/.idea_modules
/target
/bin
/dispute_management_service/target
/product_inventory_service/target
/reporting_service/target
/user_management_service/target
/user_to_user_chat/target

*.sw[po]
.cache
.project
.classpath
.settings
.DS_Store
.metals
.bloop
project/metals.sbt
