*.xml
*.iml
**/.idea/*
/.idea_modules
**/.bsp/*
**/target/*
/bin

*.sw[po]
.cache
.project
.classpath
.settings
.postgres_data
.dependencies
.DS_Store
.metals
.bloop
project/metals.sbt

vault/data
vault/logs
